{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somare - Cadastro de Paciente</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-950" onload="formatar_datas_paciente()">
    <section>
      <div class="flex flex-col items-center mt-5 sm:mt-14 mb-5 px-6 mx-auto">
        <div class="flex justify-between items-center w-full sm:p-0 sm:max-w-md mb-5">
          <div >
            <a href="{% url 'application:principal' %}"  class="flex hover:underline text-white cursor-pointer">
              <svg  class="inline w-5 h-5 mb-1.5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
              </svg>
              Voltar
            </a>
          </div>
          <div>
            <a href="{% url 'application:sair' %}" class="flex hover:underline text-white cursor-pointer">
              <svg class="inline w-5 h-5 mb-1.5 mr-1 mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>
              Sair
            </a>
          </div>
        </div>

        

        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md">
          <div class="p-6 space-y-4">
            <div class="flex items-center justify-center mb-6 text-lg sm:text-2xl font-semibold text-gray-900">
              <img class="w-10 h-10 mr-2 rounded-full" src="{% static 'images/antigo.png' %}" alt="logo"/>
              Cadastro de Paciente
            </div>

            {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div id="errorPopUp" class="bg-red-400 p-3 rounded-lg text-center">
                    <p id="errorPopUpText">{{ message }}</p>
                  </div>
                {% else %}
                    <div id="errorPopUp" class="bg-green-400 p-3 rounded-lg text-center">
                      <p id="errorPopUpText">{{ message }}</p>
                    </div>
                {% endif%}
            {% endfor %}


            <div class="w-full text-center">
              <span class="block mb-2 font-medium">Foto do Perfil</span>
              <img src="{% static 'images/user-icon.png' %}" id="IconFotoPaciente" class="bg-gray-200 mx-auto rounded-full w-24 h-24 p-0.5" alt="img_paciente" />
              <span id="FotoPacienteError" class="hidden block mt-1 text-red-500 p-2">Tipo de arquivo não suportado. <br> Por favor, selecione um arquivo JPEG, PNG ou JPG.</span>
            </div>

            <form method="POST" action="{% url 'application:paciente-redirect' %}" class="space-y-4" enctype="multipart/form-data"
            onsubmit="formatarDados(event)">
            {% csrf_token %}
            <input type="hidden" name="profissional" value="{{ request.user.id }}">
            <input type="hidden" name="especialidade" value="{{ request.user.especialidade }}">
              <div>
                <label class="text-center text-white bg-blue-600 hover:bg-blue-700 block font-medium rounded-lg text-sm px-5 py-3 h-12 cursor-pointer">
                  <span>Selecionar Foto</span>
                  <!--input type="file" accept="image/jpeg, image/png, image/jpg" id="FotoPaciente" name="FotoPaciente" oninput="changePhoto()" class="hidden"/-->
                  {{ form.foto_perfil }}
                </label>
              </div>
  
              <div>
                <label for="{{ form.nome.id_for_label }}" class="block mb-2 text-sm font-medium">Nome do Paciente</label>
                <!-- input type="text" id="NomePaciente" name="NomePaciente" oninput="formatarNome('NomePaciente')" class="bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Nome" required/-->
                {{form.nome}}
                <span class="block mb-2 text-sm text-red-900">{{ form.nome.errors }}</span>
              </div>
              
              <div>
                <label for="{{ form.data_nascimento.id_for_label }}" class="block mb-2 text-sm font-medium">Data de Nascimento</label>
                <!-- input type="text" oninput="formatarData('DataNascimento')" placeholder="dd/mm/aaaa" maxlength="11" id="DataNascimento" name="DataNascimento" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " required/-->
                {{ form.data_nascimento }}
                <span class="block mb-2 text-sm text-red-900">{{ form.data_nascimento.errors }}</span>
              </div>

              <div>
                <label for="ProfissionalEspecialidade" class="block mb-2 text-sm font-medium">Especialidade</label>
                <input type="text" id="ProfissionalEspecialidade" name="ProfissionalEspecialidade" value="{{ request.user.especialidade }}" class="bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Especialidade" disabled/>
                <span class="block mb-2 text-sm text-red-900">{{ form.especialidade.errors }}</span>                
              </div>
              
              <div>
                <label for="DataCadastro" class="block mb-2 text-sm font-medium">Data do Cadastro</label>
                <input type="text" maxlength="10" value="{{ data_atual }}" oninput="formatarData('DataCadastro')" id="DataCadastro" name="DataCadastro" class="bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="dd/mm/aaaa" disabled/>
              </div>
              
              <div>
                <label for="NomeProfissional" class="block mb-2 text-sm font-medium">Nome do Profissional</label>
                <input type="text" id="NomeProfissional" name="NomeProfissional" oninput="formatarNome('NomeProfissional')" value="{{ request.user.nome }}" class="bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Nome Profissional" disabled/>
              </div>

              <div>
                <label for="{{ form.diagnostico.id_for_label }}" class="block mb-2 text-sm font-medium">Diagnóstico</label>
                <!--input type="text" id="Diagnostico" name="Diagnostico" class="bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Ex: Autismo" required/-->
                {{ form.diagnostico }}
                <span class="block mb-2 text-sm text-red-900">{{ form.diagnostico.errors }}</span>                
              </div>

              <button type="submit" class="block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center h-12">
                Cadastrar Paciente
              </button>
                      
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>