{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somare - Histórico do Paciente</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-950">
    <section>
      <div class="flex flex-col items-center mt-5 sm:mt-40 px-6 mx-auto">

        <div class="flex justify-between items-center w-full sm:p-0 sm:max-w-md mb-5">
          <div >
            <a href="{% url 'application:paciente' paciente.id %}" class="flex hover:underline text-white cursor-pointer">
              <svg  class="inline w-5 h-5 mb-1.5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
              </svg>
              Voltar
            </a>
          </div>
          <div>
            <a href="{% url 'application:sair' %}" class="flex hover:underline text-white cursor-pointer">
              <svg class="inline w-5 h-5 mb-1.5 mr-1 mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>
              Sair
            </a>
          </div>
        </div>

        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md p-6  ">
          <div class="space-y-6">    
            
            <div class="flex items-center justify-center mb-6 text-lg sm:text-2xl font-semibold text-gray-900">
              <img class="w-10 h-10 mr-2 rounded-full" src="{% static 'images/antigo.png' %}" alt="logo"/>
              Histórico do Paciente
            </div>

            
            <div class="w-full h-8">
              <span class="block mb-2 font-medium text-lg text-gray-900 text-center">{{paciente.nome}}</span>
            </div>
            
            <form class="space-y-6" id="form-select" method="post" action="{% url 'application:paciente-programa-historico-redirect'%}" >
              {% csrf_token %}
              <div>
                <label for="id_programa" class="block mb-2 text-sm font-medium text-gray-900">Programas</label>
                <input type="hidden" name="paciente" value="{{ paciente.id }}">
                <select name="programa" id="id_programa"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5">
                  <option selected value="-1">Selecionar programa</option>
                  {% if programas_do_paciente %}
                    {% for inscrito in programas_do_paciente %}
                      <option value="{{inscrito.id}}"><a>{{inscrito.programa.nome}}</option>
                    {% endfor %}
                  {% endif %}
                </select>
                <span id="mensagem-erro" class="hidden mb-2 text-sm text-red-900">Selecione uma programa.</span>
              </div>
              <button type="submit" class="block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center h-12">Ver Histórico</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script>
      document.getElementById("form-select" ).addEventListener("submit", function(event) {
        // Impede o envio padrão do formulário
        event.preventDefault();
      
        // Realize suas verificações aqui
        var choice = document.getElementById("id_programa").value;
        if (choice == "-1") {
          // Se as verificações passarem, envie o formulário manualmente
          document.getElementById("mensagem-erro").style.display = "block";
        } else {
          // Caso contrário, faça alguma ação (ex: exiba uma mensagem de erro)
          
          this.submit();
        }
      });
    </script>
  </body>
</html>