<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somare - Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-950">
    <section>
      <div class="flex flex-col items-center mt-5 sm:mt-40 px-6 mx-auto lg:py-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
          <div class="p-6 space-y-6 sm:p-8">    
            <div class="flex items-center justify-center mb-6 text-lg sm:text-2xl font-semibold text-gray-900 ">
              <img class="w-10 h-10 mr-2 rounded-full" src="Logo_Somare.png" alt="logo"/>
              Mudar Senha  
            </div>
            
            <div class="hidden bg-red-400 p-3 rounded-lg text-center">
              <h1 class="text-xl">Error</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              </p>
            </div>

            <form class="space-y-6">
              <div>
                <label class="block mb-2 text-sm font-medium text-gray-900">Seu Email</label>
                <input type="email" name="email" id="email" oninput="validarEmail('email')" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="email@exemplo.com" readonly required/>
              </div>

                <div>
                    <label for="Senha" class="block mb-2 text-sm font-medium text-gray-900">Senha</label>
                    <div class="relative">
                        <input id="Senha" name="Senha" type="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required/>
                        <span id="toggle-senha-icon" name="toggle-senha-icon" class="absolute right-4 bottom-2.5" onclick="visibilidadeSenha('Senha', 'toggle-senha-icon')">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg> 
                        </span>
                    </div>
                </div>

                <div>
                    <label for="senhaConfirm" class="block mb-2 text-sm font-medium text-gray-900">Senha novamente</label>
                    <div class="relative">
                        <input type="password" id="senhaConfirm" name="senhaConfirm" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required/>
                        <span id="toggle-senhaConfirm-icon" name="toggle-senhaConfirm-icon" class="absolute right-4 bottom-2.5" onclick="visibilidadeSenha('senhaConfirm', 'toggle-senhaConfirm-icon')">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg> 
                        </span>
                    </div>
                </div>

              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="TemosUso" name="TemosUso" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50" required/>
                </div>
                <div class="ml-3 text-sm">
                  <label class="text-gray-500 ">Você concorda com os <a href="#" class="text-blue-600 hover:underline">Termos de Uso</a>?</label>
                </div>
              </div>

              <button class="w-full py-3 font-medium text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                  </svg>
                  <span>Mudar Senha</span>
              </button>   
                              
            </form>

          </div>
        </div>
      </div>
    </section>
    <script>
      
      function validarEmail(id) {
        var nome = document.getElementById(`${id}`).value;
        var lowercase = nome.toLowerCase();
        document.getElementById(`${id}`).value = lowercase;
      }

      function visibilidadeSenha(idSenha, idIcone) {
        var senhaInput = document.getElementById(`${idSenha}`);
        var icon = document.getElementById(`${idIcone}`);

        if (senhaInput.type === "password") {
          senhaInput.type = "text";
          icon.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88' /></svg>";
        } else {
          senhaInput.type = "password";
          icon.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'> <path stroke-linecap='round' stroke-linejoin='round' d='M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z' /> <path stroke-linecap='round' stroke-linejoin='round' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' /></svg>";
        }
      }
    </script>
  </body>
</html>