{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somare - Painel Principal</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-950">
    <section>
      
      <div class="flex flex-col items-center mt-5 sm:mt-14 mb-5 px-6 mx-auto">
        <div class="flex justify-end items-center w-full sm:p-0 sm:max-w-md mb-5">
          <div>
            <a href="{% url 'application:sair' %}" class="flex hover:underline text-white cursor-pointer">
              <svg class="inline w-5 h-5 mb-1.5 mr-1 mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>
              Sair
            </a>
          </div>
        </div>
        
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md p-8">
          <div class="space-y-6">    
            <div class="flex items-center justify-center mb-6 text-lg sm:text-2xl font-semibold text-gray-900">
              <img class="w-10 h-10 mr-2 rounded-full" src="{% static 'images/antigo.png' %}" alt="logo"/>
              Painel Principal
            </div>
            <form class="space-y-6" method="POST" action="{% url 'application:search-paciente' %}" >
              {% csrf_token %}
              <div>
                  <span class="block mb-2 font-medium text-lg text-gray-900 text-center">Seja bem-vindo(a) {{ request.user.nome }}!</span>
              </div>
              <div>
                <label for="PacienteNome"
                  class="block mb-2 text-sm font-medium text-gray-900"> Paciente</label>
                <div>
                  <select id="id_paciente" name="paciente"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 ">
                    <option selected value="-1">Selecione o Paciente</option>
                    {% if pacientes %}
                      {% for paciente in pacientes %}
                        <option value="{{paciente.id}}"><a>{{paciente.nome}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <span class="block mb-2 text-sm text-red-900">{{ form.paciente.errors }}</span>
                  {% for message in messages %}
                    {% if message.tags == 'error' %}
                      <span class="block mb-2 text-sm text-red-900">{{ message }}</span>
                    {% endif%}
                {% endfor %}
                </div>
              </div>

              <button type="submit" class="block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center h-12">Ver paciente</button>
            </form>

            <div>
              <span class="block mb-2 text-sm font-medium text-gray-900 text-center">Você tem {{total_pacientes}} pacientes e {{total_programas}} programas cadastrados.</span>
            </div>

            <div class="block w-full h-[2px] border-t-0 bg-slate-200 opacity-100 dark:opacity-100"></div>

            <a href="{% url 'application:cadastrar-paciente' %}" class="block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center h-12">Cadastrar novo paciente</a>
            <a href="{% url 'application:cadastrar-programa' %}" class="block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center h-12">Cadastrar novo programa</a>


            <button href="cadastro_programa.html" class=" hidden block w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center h-12">Sair</button>
          
          </div>
        </div>
      </div>
    </section>
    <script>
      function formatarNome(id) {
        var nome = document.getElementById(`${id}`).value;

        nome = nome.replace(/[^a-zA-ZÀ-ú\s]/g, '');
        var nomeFormatado = nome.toUpperCase();
        
        document.getElementById(`${id}`).value = nomeFormatado;
      }
    </script>
  </body>
</html>